
.cursor{
    cursor : pointer;
}

.cursor:focus,
.cursor:hover,
.cursor:active,
.cursor.active
{
     background-color: #000;
     color : #fff
}

.active{
    background-color: #000;
    color : #fff
}